* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  max-width: 500px;
  border: 1px solid mediumblue;
  margin: auto;
}

header {
  width: 100%;
  padding: 0 0.25em;
  background-color: mediumblue;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex;
  overflow-y: auto;
}

footer {
  width: 100%;
  padding: 0.25em;
  background-color: mediumblue;
  color: aliceblue;
  display: grid;
  place-content: center;
}

ul li:before {
  content: "\200B";
}
ul{
  width: 100%;
  padding: 0 0.25rem 0.25rem;
}
.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: antiquewhite;
}
.item input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 2.5rem;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.item input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

.item > label {
  font-size: 0.75rem;
  flex-grow: 1;
}

.item svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}

.item svg:focus,
.item svg:hover {
  color: crimson;
  outline: none;
}

.addForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0 0 ;
  padding: 0 0.5rem 0.25rem;
}

.addForm label {
  position: absolute;
  left: -99999px;
}

.addForm input[type="text"]{
 flex-grow: 1;  /*every child will set to an equal size inside the container*/
 max-width: calc(100% - 50px);
 padding: 0.25rem;
 min-height: 48px;
 margin-right: 0.25rem;
 border-radius: 0.25rem;
 font-size: 1rem;
 outline: none;
}

button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  color: mediumblue;
  background-color: aliceblue;
}

button:focus,
button:hover {
  color: aliceblue;
  background-color: green;
  outline: none;
}


.searchForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.25rem 0 0 ;
  padding: 0 0.5rem 0.25rem;
  border-radius: 0.25rem;

}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm input[type="text"]{
 flex-grow: 1;  /*every child will set to an equal size inside the container*/
 max-width: 100%;
 padding: 0.25rem;
 min-height: 48px;
 margin-right: 0.25rem;
 font-size: 1rem;
 border-radius: 0.25rem;
 outline: none;
}
